.navbarContainer {
  width: 100%;
  position: fixed;
  transition: border-bottom 0.5s ease;
  background: #070102;
  z-index: 1000;
}
.navbarContainer.background {
  border-bottom: 1px solid #E4C9A0;
}

.navbar {
  width: 100%;
  height: 5rem;
  padding: 0 3% 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .dividerNav img, .navbar .dropdown, .navbar .menuNav i, .navbar .dividerMobile, .navbar .btnMenuClose, .navbar .btnMenuOpen {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbar {
    max-width: 1480px;
    margin: 0 auto;
    position: relative;
  }
  .navbar .logoNav img {
    width: 11.625rem;
    height: 3.125rem;
  }
  .navbar .dividerNav img {
    width: 20.5rem;
    height: 1.625rem;
    display: block;
  }
  .navbar .menuNav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    list-style: none;
  }
  .navbar .menuNav li {
    margin: 0 3.5%;
    position: relative;
  }
  .navbar .menuNav li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 45%;
    right: 0;
    background: #c09452;
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .navbar .menuNav li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  .navbar .menuNav li a {
    color: #E4C9A0;
    text-decoration: none;
  }
  .navbar .menuNav li:hover,
  .navbar .menuNav a:hover {
    color: #c09452;
    transition: 0.5s;
  }
  .navbar .menuNav .styles {
    color: #E4C9A0;
    cursor: pointer;
    margin-right: 8%;
  }
  .navbar .menuNav .styles .arrow {
    display: block;
    position: absolute;
    font-size: 1rem;
    top: 0.1rem;
    right: -1.3rem;
    transition: 0.3s;
  }
  .navbar .menuNav .styles .arrowRotate {
    transform: rotate(180deg);
  }
  .navbar .dropdown {
    top: 4rem;
    right: 6.7%;
    width: 7.938rem;
    border: 1px solid #E4C9A0;
    background: #070102;
    position: absolute;
    overflow: hidden;
    animation: animationDrop 0.6s;
  }
  @keyframes animationDrop {
    0% {
      height: 0rem;
    }
    100% {
      height: 12.625rem;
    }
  }
  .navbar .dropdown .menuDropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    text-decoration: none;
    font-size: 1.063rem;
    color: #E4C9A0;
    transition: 0.3s ease-in-out;
  }
  .navbar .dropdown .menuDropdown a:hover {
    background: linear-gradient(90deg, #E4C9A0 0%, #B7A994 100%);
    color: #070102;
  }
  .navbar .dropdown .menuDropdown .verTodos {
    transition: 0.3s ease-in-out;
    background: #c09452;
    color: #070102;
  }
  .navbar .dropdown .menuDropdown .verTodos:hover {
    background: linear-gradient(to right, #ffc875, #c98929);
    color: #070102;
  }
  .navbar .dropdown.dropOpen {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbarContainer .navbar {
    padding: 0 8% 0 4%;
  }
  .navbarContainer .navbar .dividerNav img, .navbarContainer .navbar .dropdown {
    display: none;
  }
  .navbarContainer .navbar .btnMenuOpen,
  .navbarContainer .navbar .btnMenuClose {
    display: block;
    all: unset;
    cursor: pointer;
    font-size: 1.75rem;
    color: #E4C9A0;
  }
  .navbarContainer .navbar .menuContainer.active {
    transform: translateX(0);
  }
  .navbarContainer .navbar .menuContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #070102;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }
  .navbarContainer .navbar .menuContainer .menuMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #E4C9A0;
    padding: 0 6% 0 3%;
  }
  .navbarContainer .navbar .menuContainer .menuMobile .dividerMobile {
    display: block;
  }
  .navbarContainer .navbar .menuContainer .menuMobile .dividerMobile img {
    width: 20.5rem;
    height: 1.625rem;
  }
  .navbarContainer .navbar .menuContainer .menuNav {
    width: 100%;
    height: 100vh;
  }
  .navbarContainer .navbar .menuContainer .menuNav li {
    width: 100%;
    height: 6rem;
    padding: 0 0 0 22%;
    margin-top: 1rem;
    font-size: clamp(1.5rem, 4vw, 1.7rem);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: 0;
    align-items: center;
  }
  .navbarContainer .navbar .menuContainer .menuNav li.lastItemOpen {
    margin-top: 50%;
  }
  .navbarContainer .navbar .menuContainer .menuNav li a {
    color: #E4C9A0;
    text-decoration: none;
  }
  .navbarContainer .navbar .menuContainer .menuNav li a i {
    display: flex;
    position: absolute;
    font-size: clamp(1.5rem, 4vw, 2rem);
    left: 10%;
  }
  .navbarContainer .navbar .menuContainer .menuNav li:hover {
    color: #070102;
    background: linear-gradient(90deg, #E4C9A0 0%, #B7A994 100%);
  }
  .navbarContainer .navbar .menuContainer .menuNav li:hover a,
  .navbarContainer .navbar .menuContainer .menuNav li:hover i {
    color: #070102;
  }
  .navbarContainer .navbar .menuContainer .menuNav .styles {
    color: #E4C9A0;
    cursor: pointer;
  }
  .navbarContainer .navbar .menuContainer .menuNav .styles .paint {
    display: flex;
    position: absolute;
    left: 10%;
  }
  .navbarContainer .navbar .menuContainer .menuNav .styles .arrow {
    display: block;
    position: relative;
    right: -0.6rem;
  }
  .navbarContainer .navbar .dropdown {
    position: absolute;
    top: 520%;
    width: 100%;
    left: 0;
    background: #070102;
    overflow: hidden;
    display: none;
    animation: animationDrop 0.6s;
  }
  @keyframes animationDrop {
    0% {
      height: 0rem;
    }
    100% {
      height: 15.625rem;
    }
  }
  .navbarContainer .navbar .dropdown.dropOpen {
    display: block;
  }
  .navbarContainer .navbar .dropdown .menuDropdown a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-left: 18%;
    text-decoration: none;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: #E4C9A0;
    transition: 0.3s ease-in-out;
  }
  .navbarContainer .navbar .dropdown .menuDropdown a:hover {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
    color: 0;
  }
  .navbarContainer .navbar .dropdown .menuDropdown .verTodos {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
  }
  .navbarContainer .navbar .dropdown .menuDropdown .verTodos:hover {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
    color: 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar .menuContainer .menuNav li {
    height: 5rem;
  }
  .navbar .menuContainer .menuNav li.lastItemOpen {
    margin-top: 85%;
  }
  .navbar .dropdown {
    top: 460%;
  }
  .navbar .dropdown .menuDropdown a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 3.4rem;
    padding-left: 18%;
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: #E4C9A0;
    transition: 0.3s ease-in-out;
  }
  .navbar .dropdown .menuDropdown a:hover {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
    color: 0;
  }
}
.headerContainer {
  width: 100%;
  position: relative;
}
.headerContainer .header {
  height: calc(100vh - 5rem);
}
.headerContainer .header .anuncio {
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  color: #E4C9A0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
@media screen and (max-width: 1540px) {
  .headerContainer .header .anuncio {
    padding-left: 6%;
  }
}
.headerContainer .header .anuncio h3 {
  max-width: 23rem;
  font-size: clamp(1.5rem, 3vw, 2.3rem);
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(to left, #FFF 0%, #B2B2B2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerContainer .header .anuncio h1 {
  font-size: clamp(5.3125rem, 8vw, 7rem);
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(to left, #F1C37C, #A78045);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerContainer .header .anuncio .btnSimular {
  font-family: "IM FELL French Canon SC";
  padding: 10px 25px;
  background: radial-gradient(#070102 40%, #6D101F 100%);
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  border: 1px solid #E4C9A0;
  color: #E4C9A0;
  text-decoration: none;
  transition: 0.3s;
}
.headerContainer .header .anuncio .btnSimular:hover {
  scale: 1.1;
  color: #c09452;
}
.headerContainer .header .shadowBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 10vw 10vw 120px #070102;
  pointer-events: none;
  overflow: hidden;
}
.headerContainer .header .shadowBackground .shapeContainer {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 5rem);
  position: relative;
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader {
  width: 6.125rem;
  height: 5.875rem;
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(1) {
  top: 1%;
  left: 1%;
  position: absolute;
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(2) {
  top: 1%;
  right: 1%;
  position: absolute;
  transform: rotate(90deg);
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(3) {
  bottom: 1%;
  left: 1%;
  position: absolute;
  transform: rotate(-90deg);
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(4) {
  bottom: 1%;
  right: 1%;
  position: absolute;
  transform: rotate(180deg);
}
.headerContainer .header .shadowBackground .backgroundHeader {
  width: 100%;
  height: calc(100vh - 5rem);
  position: absolute;
  top: 0;
  z-index: -2;
  object-fit: cover;
  opacity: 80%;
}

@media screen and (max-width: 992px) {
  .headerContainer .header .anuncio h3 {
    max-width: 18rem;
  }
  .headerContainer .header .anuncio .btnSimular {
    padding: 6px 22px;
  }
  .headerContainer .header .shadowBackground {
    box-shadow: inset 15vw 15vw 120px #070102;
  }
}
@media screen and (max-width: 767px) {
  .headerContainer .header .shadowBackground {
    box-shadow: inset 32vw 32vw 120px #070102;
  }
}
.dividerOne, .dividerTwo {
  width: 100%;
  height: clamp(4.25rem, 15vw, 9.1875rem);
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dividerOne img, .dividerTwo img {
  max-width: 47.5625rem;
  width: 100%;
  height: auto;
}

.aboutContainer {
  width: 100%;
  background: linear-gradient(to left, #0B0A12 0%, #070102 100%);
}
.aboutContainer .about {
  max-width: 1480px;
  width: 100%;
  height: 41.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutContainer .about .profileImage img {
  max-width: 25rem;
  width: 100%;
  height: auto;
}
.aboutContainer .about .dividerAbout img {
  width: 24.25rem;
  height: 2.25rem;
  transform: rotate(-90deg);
}
.aboutContainer .about .aboutBio {
  max-width: 26.9375rem;
}
.aboutContainer .about .aboutBio .titleBio {
  font-size: 4rem;
  text-transform: uppercase;
  background: linear-gradient(to left, #F1C37C, #A78045);
  font-weight: 400;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutContainer .about .aboutBio .textBio {
  margin-top: 3%;
  font-family: "IM FELL French Canon";
  opacity: 98%;
  color: #E4C9A0;
  font-size: 1.25rem;
  text-align: justify;
}
.aboutContainer .about .aboutBio .socialMidias {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.aboutContainer .about .aboutBio .socialMidias .instagramBox {
  margin-right: 5%;
}
.aboutContainer .about .aboutBio .socialMidias .instagramBox, .aboutContainer .about .aboutBio .socialMidias .whatsappBox {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #E4C9A0;
  background: radial-gradient(#070102 40%, #6D101F 100%);
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutContainer .about .aboutBio .socialMidias .instagramBox i, .aboutContainer .about .aboutBio .socialMidias .whatsappBox i {
  font-size: 1.6rem;
  color: #E4C9A0;
}
.aboutContainer .about .aboutBio .socialMidias .instagramBox:hover,
.aboutContainer .about .aboutBio .socialMidias .whatsappBox:hover {
  background: radial-gradient(#070102 40%, #F1C37C 100%);
  scale: 1.1;
}
.aboutContainer .about .aboutBio .socialMidias .instagramBox:hover i,
.aboutContainer .about .aboutBio .socialMidias .whatsappBox:hover i {
  color: #c09452;
}

@media screen and (max-width: 1290px) {
  .aboutContainer .about {
    height: 31rem;
    padding: 5%;
  }
  .aboutContainer .about .profileImage img {
    width: 17.875rem;
    height: 17.875rem;
    position: relative;
    right: -100px;
  }
  .aboutContainer .about .dividerAbout img {
    width: 19.75rem;
    height: 1.82131rem;
  }
  .aboutContainer .about .aboutBio {
    max-width: 20.75rem;
    position: relative;
    left: -100px;
  }
  .aboutContainer .about .aboutBio .titleBio {
    font-size: 3rem;
    text-wrap: nowrap;
  }
  .aboutContainer .about .aboutBio .textBio {
    font-size: 1rem;
  }
  .aboutContainer .about .aboutBio .socialMidias .instagramBox, .aboutContainer .about .aboutBio .socialMidias .whatsappBox {
    width: 3rem;
    height: 3rem;
  }
  .aboutContainer .about .aboutBio .socialMidias .instagramBox i, .aboutContainer .about .aboutBio .socialMidias .whatsappBox i {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 767px) {
  .aboutContainer .about {
    height: 41.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .aboutContainer .about .profileImage img {
    width: 14.0625rem;
    height: 14.0625rem;
    right: 0;
  }
  .aboutContainer .about .dividerAbout img {
    width: 18.125rem;
    height: 1.68169rem;
    margin: 10% 0;
    transform: rotate(0);
  }
  .aboutContainer .about .aboutBio {
    max-width: 18.4375rem;
    left: 0;
  }
  .aboutContainer .about .aboutBio .titleBio {
    font-size: 2.5rem;
  }
  .aboutContainer .about .aboutBio .textBio {
    font-size: 0.875rem;
  }
  .aboutContainer .about .aboutBio .socialMidias .instagramBox, .aboutContainer .about .aboutBio .socialMidias .whatsappBox {
    width: 3rem;
    height: 3rem;
  }
  .aboutContainer .about .aboutBio .socialMidias .instagramBox i, .aboutContainer .about .aboutBio .socialMidias .whatsappBox i {
    font-size: 1.3rem;
  }
}
.tattostyles {
  max-width: 1480px;
  width: 100%;
  height: 50rem;
  position: relative;
  margin: 0 auto;
}
.tattostyles .yourStyle {
  width: 100%;
  height: auto;
  padding: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tattostyles .yourStyle .titleStyle {
  font-size: clamp(3.3125rem, 4vw, 5.3125rem);
  font-family: "IM FELL French Canon SC";
  font-weight: 400;
  background: linear-gradient(to left, #F1C37C, #A78045);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tattostyles .yourStyle .subTitleStyle {
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: "IM FELL French Canon SC";
  font-weight: 400;
  color: #E4C9A0;
}
.tattostyles .containerCardStyles {
  max-width: 70rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding: 0 5%;
}
.tattostyles .containerCardStyles .boxCardStyle {
  width: 100%;
  max-height: 18.42494rem;
  padding: 0 5%;
  position: relative;
  transition: 0.3s;
}
.tattostyles .containerCardStyles .boxCardStyle .frameCard img {
  width: 100%;
  height: auto;
}
.tattostyles .containerCardStyles .boxCardStyle .cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tattostyles .containerCardStyles .boxCardStyle .cardText .iconCard {
  font-size: 5rem;
  color: #E4C9A0;
}
.tattostyles .containerCardStyles .boxCardStyle .cardText .textCard {
  position: relative;
  bottom: -15px;
  font-family: "IM FELL French Canon SC";
  font-size: clamp(0.8rem, 2vw, 1.415rem);
  color: #E4C9A0;
  font-weight: 400;
  text-align: center;
}
.tattostyles .containerCardStyles .boxCardStyle:hover {
  scale: 1.1;
}
@media screen and (min-width: 992px) {
  .tattostyles .containerCardStyles .boxCardStyle:nth-child(2),
  .tattostyles .containerCardStyles .boxCardStyle:nth-child(3) {
    position: relative;
    top: -25px;
  }
}
.tattostyles .btnStyles {
  font-family: "IM FELL French Canon SC";
  font-size: clamp(1.2rem, 2vw, 2rem);
  text-decoration: none;
  margin-top: 4%;
  padding: 0.9% 3.3%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: #070102;
  border: 2px solid #E4C9A0;
  background: linear-gradient(to left, #F1C37C, #A78045);
  transition: 0.3s;
}
.tattostyles .btnStyles:hover {
  scale: 1.03;
  background: linear-gradient(#F1C37C, #A78045);
}

@media screen and (max-width: 992px) {
  .tattostyles {
    height: 40rem;
  }
  .tattostyles .containerCardStyles .boxCardStyle .cardText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tattostyles .containerCardStyles .boxCardStyle .cardText .iconCard {
    font-size: 4rem;
    color: #E4C9A0;
  }
}
@media screen and (max-width: 767px) {
  .tattostyles {
    height: 44rem;
  }
  .tattostyles .yourStyle .titleStyle {
    max-width: 16rem;
  }
  .tattostyles .containerCardStyles {
    max-width: 22rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .tattostyles .containerCardStyles .boxCardStyle {
    padding: 8%;
  }
  .tattostyles .containerCardStyles .boxCardStyle .cardText .iconCard {
    font-size: 3rem;
  }
}
.communication {
  max-width: 1480px;
  width: 100%;
  height: 28.75rem;
  margin: 0 auto;
  border-top: 1px solid #E4C9A0;
  border-bottom: 1px solid #E4C9A0;
  position: relative;
}
.communication .videoBackground {
  width: 60%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}
.communication .boxTextCommuni {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background: #070102;
  border-radius: 3.125rem 0rem 0rem 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.communication .boxTextCommuni .titleCommuni {
  color: #E4C9A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IM Fell French Canon", serif;
}

body {
  background: #070102;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #070102;
}
body::-webkit-scrollbar-thumb {
  background: #E4C9A0;
}
body main {
  margin-top: 5rem;
}

/*# sourceMappingURL=styles.css.map */
