.navbarContainer {
  width: 100%;
  position: fixed;
  padding: 0 6% 0 3%;
  transition: background 0.5s ease, border-bottom 0.5s ease;
  background: #070102;
  z-index: 1000;
}
.navbarContainer.background {
  border-bottom: 1px solid #E4C9A0;
}

.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .dividerNav img, .navbar .dropdown, .navbar .menuNav i, .navbar .dividerMobile, .navbar .btnMenuClose, .navbar .btnMenuOpen {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbar {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
  .navbar .logoNav img {
    width: 11.625rem;
    height: 3.125rem;
  }
  .navbar .dividerNav img {
    width: 20.5rem;
    height: 1.625rem;
    display: block;
  }
  .navbar .menuNav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    list-style: none;
  }
  .navbar .menuNav li {
    margin: 0 6%;
    position: relative;
  }
  .navbar .menuNav li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 45%;
    right: 0;
    background: #c09452;
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .navbar .menuNav li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  .navbar .menuNav li a {
    color: #E4C9A0;
    text-decoration: none;
  }
  .navbar .menuNav li:hover,
  .navbar .menuNav a:hover {
    color: #c09452;
    transition: 0.5s;
  }
  .navbar .menuNav .styles {
    color: #E4C9A0;
    cursor: pointer;
  }
  .navbar .menuNav .styles .arrow {
    display: block;
    position: absolute;
    font-size: 1rem;
    top: 0.1rem;
    right: -1.3rem;
    transition: 0.3s;
  }
  .navbar .menuNav .styles .arrowRotate {
    transform: rotate(180deg);
  }
  .navbar .dropdown {
    top: 4rem;
    right: 3%;
    width: 8.5625rem;
    border: 1px solid #E4C9A0;
    background: #070102;
    position: absolute;
    overflow: hidden;
    animation: animationDrop 0.6s;
  }
  @keyframes animationDrop {
    0% {
      height: 0rem;
    }
    100% {
      height: 12.625rem;
    }
  }
  .navbar .dropdown .menuDropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #E4C9A0;
    transition: 0.3s ease-in-out;
  }
  .navbar .dropdown .menuDropdown a:hover {
    background: linear-gradient(90deg, #E4C9A0 0%, #B7A994 100%);
    color: #070102;
  }
  .navbar .dropdown .menuDropdown .verTodos {
    background: linear-gradient(90deg, #E4C9A0 0%, #B7A994 100%);
    color: #070102;
  }
  .navbar .dropdown .menuDropdown .verTodos:hover {
    background: linear-gradient(to right, #ffc875, #c98929);
    color: #070102;
  }
  .navbar .dropdown.dropOpen {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbarContainer .navbar .dividerNav img, .navbarContainer .navbar .dropdown {
    display: none;
  }
  .navbarContainer .navbar .btnMenuOpen,
  .navbarContainer .navbar .btnMenuClose {
    display: block;
    all: unset;
    cursor: pointer;
    font-size: 1.75rem;
    color: #E4C9A0;
  }
  .navbarContainer .navbar .menuContainer.active {
    transform: translateX(0);
  }
  .navbarContainer .navbar .menuContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #070102;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }
  .navbarContainer .navbar .menuContainer .menuMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #E4C9A0;
    padding: 0 6% 0 3%;
  }
  .navbarContainer .navbar .menuContainer .menuMobile .dividerMobile {
    display: block;
  }
  .navbarContainer .navbar .menuContainer .menuMobile .dividerMobile img {
    width: 20.5rem;
    height: 1.625rem;
  }
  .navbarContainer .navbar .menuContainer .menuNav {
    width: 100%;
    height: 100vh;
  }
  .navbarContainer .navbar .menuContainer .menuNav li {
    width: 100%;
    height: 6rem;
    padding: 0 0 0 22%;
    margin-top: 1rem;
    font-size: clamp(1.5rem, 4vw, 1.7rem);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: 0;
    align-items: center;
  }
  .navbarContainer .navbar .menuContainer .menuNav li.lastItemOpen {
    margin-top: 50%;
  }
  .navbarContainer .navbar .menuContainer .menuNav li a {
    color: #E4C9A0;
    text-decoration: none;
  }
  .navbarContainer .navbar .menuContainer .menuNav li a i {
    display: flex;
    position: absolute;
    font-size: clamp(1.5rem, 4vw, 2rem);
    left: 10%;
  }
  .navbarContainer .navbar .menuContainer .menuNav li:hover {
    color: #070102;
    background: linear-gradient(90deg, #E4C9A0 0%, #B7A994 100%);
  }
  .navbarContainer .navbar .menuContainer .menuNav li:hover a,
  .navbarContainer .navbar .menuContainer .menuNav li:hover i {
    color: #070102;
  }
  .navbarContainer .navbar .menuContainer .menuNav .styles {
    color: #E4C9A0;
    cursor: pointer;
  }
  .navbarContainer .navbar .menuContainer .menuNav .styles .paint {
    display: flex;
    position: absolute;
    left: 10%;
  }
  .navbarContainer .navbar .menuContainer .menuNav .styles .arrow {
    display: block;
    position: relative;
    right: -0.6rem;
  }
  .navbarContainer .navbar .dropdown {
    position: absolute;
    top: 520%;
    width: 100%;
    left: 0;
    background: #070102;
    overflow: hidden;
    display: none;
    animation: animationDrop 0.6s;
  }
  @keyframes animationDrop {
    0% {
      height: 0rem;
    }
    100% {
      height: 15.625rem;
    }
  }
  .navbarContainer .navbar .dropdown.dropOpen {
    display: block;
  }
  .navbarContainer .navbar .dropdown .menuDropdown a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-left: 18%;
    text-decoration: none;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: #E4C9A0;
    transition: 0.3s ease-in-out;
  }
  .navbarContainer .navbar .dropdown .menuDropdown a:hover {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
    color: 0;
  }
  .navbarContainer .navbar .dropdown .menuDropdown .verTodos {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
  }
  .navbarContainer .navbar .dropdown .menuDropdown .verTodos:hover {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
    color: 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar .menuContainer .menuNav li {
    height: 5rem;
  }
  .navbar .menuContainer .menuNav li.lastItemOpen {
    margin-top: 85%;
  }
  .navbar .dropdown {
    top: 460%;
  }
  .navbar .dropdown .menuDropdown a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 3.4rem;
    padding-left: 18%;
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: #E4C9A0;
    transition: 0.3s ease-in-out;
  }
  .navbar .dropdown .menuDropdown a:hover {
    background: linear-gradient(90deg, #6C101F 0%, #080103 100%);
    color: 0;
  }
}
.headerContainer {
  width: 100%;
  position: relative;
}
.headerContainer .header {
  max-width: 1500px;
  height: calc(100vh - 5rem);
  margin: 0 auto;
}
.headerContainer .header .anuncio {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  color: #E4C9A0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 10%;
}
.headerContainer .header .anuncio h3 {
  max-width: 31.125rem;
  font-size: clamp(1.75rem, 4vw, 3.125rem);
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FFF 0%, #B2B2B2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerContainer .header .anuncio h1 {
  max-width: 31.125rem;
  font-size: clamp(5.3125rem, 10vw, 8.75rem);
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(to right, #F1C37C, #A78045);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerContainer .header .anuncio .btnSimular {
  padding: 15px 40px;
  background: radial-gradient(#070102 40%, #6D101F 100%);
  border: 1px solid #E4C9A0;
}
.headerContainer .header .anuncio .btnSimular a {
  font-family: "IM FELL French Canon SC";
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  color: #E4C9A0;
  text-decoration: none;
}
.headerContainer .header .shadowBackground {
  max-width: 1500px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 10vw 10vw 120px #070102;
  pointer-events: none;
  overflow: hidden;
}
.headerContainer .header .shadowBackground::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -9vw -8vw 120px #070102;
}
.headerContainer .header .shadowBackground .shapeContainer {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 5rem);
  position: relative;
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader {
  width: 8.6875rem;
  height: 8.375rem;
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(1) {
  top: 1%;
  left: 1%;
  position: absolute;
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(2) {
  top: 1%;
  right: 1%;
  position: absolute;
  transform: rotate(90deg);
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(3) {
  bottom: 1%;
  left: 1%;
  position: absolute;
  transform: rotate(-90deg);
}
.headerContainer .header .shadowBackground .shapeContainer .shapeHeader:nth-child(4) {
  bottom: 1%;
  right: 1%;
  position: absolute;
  transform: rotate(180deg);
}
.headerContainer .header .shadowBackground .backgroundHeader {
  width: 100%;
  height: calc(100vh - 5rem);
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: -2;
  object-fit: cover;
  opacity: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IM Fell French Canon", serif;
}

body {
  background: #070102;
  height: 2000px;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #070102;
}
body::-webkit-scrollbar-thumb {
  background: #E4C9A0;
}
body main {
  margin-top: 5rem;
}

/*# sourceMappingURL=styles.css.map */
