.communication {
    max-width: 1480px;
    width: 100%;
    height: 28.75rem;
    margin: 0 auto;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    position: relative;

    .videoBackground {
        width: 60%;
        height: 100%;
        object-fit: cover;
        opacity: 80%;
    }

    .boxTextCommuni {
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        background:$bg-color;
        border-radius: 3.125rem 0rem 0rem 3.125rem;
        @include flexColum(center);

        .titleCommuni {
            color: $primary-color;
        }
    }   
}