//Varables-colors
$primary-color: #E4C9A0;
$primary-colorHover: #c09452;
$bg-color: #070102;
$bg-colorHover: #0e0204;
$primary-gradient: linear-gradient(#F1C37C, #A78045);
$secondary-gradient: linear-gradient(to right, #F1C37C, #A78045);
$gradientHover: linear-gradient(to right, #ffc875, #c98929);