@import  "./variables", "./navbar", "./header", "./about", "./tattoostyles";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IM Fell French Canon", serif;
}

body {
    background: $bg-color;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        width: 0.25rem;
    }

    &::-webkit-scrollbar-track{
        background: $bg-color;
    }

    &::-webkit-scrollbar-thumb{
        background: $primary-color;
    }

    main {
        margin-top: 5rem;
    }
}

    